{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Content -->
		<section>
			<header class="main">
				<h1>{{ food.title }}</h1>
			</header>

			<span class="image main"><img src="{{ food.image.url }}" style="width: 450; height: 500;" alt="" /></span>

			<p>Price: {{ food.price }} c</p>

			{{food.id}}

			<form enctype="multipart/form-data" action="{% url "cart:cart_add" food.id %}" method="post" >
				{% csrf_token %}
				{{ cart_product_form }}
				<input type="submit" value="add to cart" class="btn btn-primary">
			</form>

			<hr class="major" />
			{%for image in images %}
		<img src="{{ image.url }}" style="width: 450px; height: 450px;" class="img-thumbnail" alt="...">
			{% endfor %}


		</section>
{% endblock %}
